.aui-theme-default {
  #page {
    padding: 3em 10%;
    #main {
      margin-bottom: 3em;
    }
  }

  h1 {
    margin: 1rem 0;
    font-size: 3rem;
  }
  h2 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  h3 {
    margin: 1rem 0;
    font-size: 2rem;
  }
  h4 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  table {
    width: 100%;
  }

  .pageSection {
    ul {
      li {
        margin-left: 2rem;
        list-style: circle;
      }
    }
  }

  .toc-macro {
    .toc-indentation {
      margin-left: 2em;
    }
  }

  .columnLayout {
    display: flex;
    &.three-equal {
      .cell {
        flex-direction: column;
        width: 33%;
        padding: 1rem!important;
      }
    }
  }

  #footer {
    font-size: 0.75rem;
    color: #999;
    #footer-logo {
      display: none;
    }
  }
}