@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$turquoise: $pink;
$turquoise-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@use "../node_modules/bulma/sass/utilities/initial-variables" as variables;
@use "../node_modules/bulma/bulma";

$text: variables.$black;

@use "tfs.scss";
@use "status.scss";
@use "links.scss";

.mt-7 {
  margin-top: 5rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 12rem;
}

.mt-10 {
  margin-top: 15rem;
}

.has-shadow-warning {
  text-shadow: variables.$yellow 0 0 50px;
}

.has-shadow-primary {
  text-shadow: variables.$turquoise 0 0 50px;
}

.has-shadow-link {
  text-shadow: variables.$blue 0 0 50px;
}

.has-shadow-info {
  text-shadow: variables.$cyan 0 0 50px;
}

.has-shadow-danger {
  text-shadow: variables.$red 0 0 50px;
}

.has-shadow-white {
  text-shadow: variables.$white 0 0 50px;
}

.has-shadow-success {
  text-shadow: variables.$green 0 0 50px;
}

.has-box-shadow-warning {
  box-shadow: variables.$yellow 0 0 50px;
}

.has-box-shadow-primary {
  box-shadow: variables.$turquoise 0 0 50px;
}

.has-box-shadow-link {
  box-shadow: variables.$blue 0 0 50px;
}

.has-box-shadow-info {
  box-shadow: variables.$cyan 0 0 50px;
}

.has-box-shadow-danger {
  box-shadow: variables.$red 0 0 50px;
}

.has-box-shadow-white {
  box-shadow: variables.$white 0 0 50px;
}

.has-box-shadow-success {
  box-shadow: variables.$green 0 0 50px;
}

.square-app {
  border: .1em solid;
  display: inline-block;
  padding: .22em 0;
  border-radius: .1em;
  width: 2.25em;
  height: 2.25em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #111; 
  border-color: #111;
  &.is-info {
    background-color: variables.$cyan;
  }
  &.is-warning {
    background-color: variables.$yellow;
  }
  &.is-danger {
    background-color: variables.$red;
  }
  &.is-link {
    background-color: variables.$blue;
  }
  &.is-success {
    background-color: variables.$green;
  }
  &.is-primary {
    background-color: variables.$turquoise;
  }
}
