.hero {
  &.is-tfs {
    background-color: black;
    background-image: url(https://www.thefirstspine.fr/images/top-summoner.png);
    background-repeat: no-repeat;
    background-position: top center;
    * {
      text-shadow: black 0 0 20px, black 0 0 20px;
    }
    .button * {
      text-shadow: none;
    }
  }
}

.bd-snippet-tag {
  align-items: center;
  border-radius: .5em;
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: .4em;
  font-weight: 600;
  height: 1rem;
  padding: 0 .5em;
  background: #EEE;
  vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
  }
  p, h1, h2, h3, h4, h5, h6 {
    color: #DDD;
  }
  hr {
    background-color: #222;
  }
  .notification.is-light {
    &.is-success {
      background-color: #257942;
    color: #DDD;
    }
    &.is-danger {
      background-color: #990f35;
      color: #DDD;
    }
    &.is-warning {
      background-color: #947600;
      color: #DDD;
    }
  }
  .hero.is-light, .footer {
    background-color: #222;
  }
  .bd-snippet-tag {
    color: #111;
  }
}
