.hero {
  &.is-tfs {
    background-color: black;
    background-image: url(https://www.thefirstspine.fr/images/top-summoner.png);
    background-repeat: no-repeat;
    background-position: top center;
    * {
      text-shadow: black 0 0 20px, black 0 0 20px;
    }
    .button * {
      text-shadow: none;
    }
  }
}

.bd-snippet-tag {
  align-items: center;
  border-radius: .5em;
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: .4em;
  font-weight: 600;
  height: 1rem;
  padding: 0 .5em;
  background: #EEE;
  vertical-align: middle;
}
